html,
body {
  font-family: 'Inter var', -system-ui, system-ui, sans-serif;
  /* background: #fff; */
  color: #111;
  height: 100%;
  width: 100%;
  font-family: 'Inter', -system-ui, system-ui, sans-serif;
  font-size: 14px;
  letter-spacing: -0.006;
  line-height: 1.5;
  /* width: 100%; */
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -moz-font-feature-settings: "calt"1, "kern"1, "liga"1;
  -ms-font-feature-settings: "calt"1, "kern"1, "liga"1;
  -o-font-feature-settings: "calt"1, "kern"1, "liga"1;
  -webkit-font-feature-settings: "calt"1, "kern"1, "liga"1;
  font-feature-settings: "calt"1, "kern"1, "liga"1;
}

a {
  display: block;
  text-decoration: none;
}
main {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #010101;
  margin: 1.618em 0 0.7em 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  letter-spacing: -0.05em;
  font-weight: 700;
  line-height: 1.1;
  margin-left: -2px;
}

h3 {
  font-size: 50px;
  letter-spacing: -0.05em;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  width: 100%;
  color: #fff;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
  top: 80%;
  text-align: unset;
  left: 10%;
}

.description {
  max-width: 500px;
  background: #fff;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}

.cs-container {
  float: right;
  width: 600px;
  height: 100vh;
  display: flex;
}

.cs-img {
  transition: width 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  margin: 0 5px;
}

.cs-img:last-child {
  margin: 0 0px 0px 5px;
}
.cs-arable {
  background-image: url('arable.jpg');
  width: 400px;
}
.cs-arable:hover h3 {
  visibility: visible;
  opacity: 1;
}
.cs-pigs {
  background-image: url('pigs.jpg');
  width: 100px;
}

.cs-pigs:hover h3 {
  visibility: visible;
  opacity: 1;
}
.cs-dairy {
  background-image: url('dairy.jpg');
  width: 100px;
}

.cs-dairy:hover h3 {
  visibility: visible;
  opacity: 1;
}

.selectors {
  z-index: 100;
}
.iframe-container {
  width: 700px;
  height: 600px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.row {
  display: inline-block;
}

.plotFrame {
  margin-top: 0px;
  visibility: hidden;
}

hr {
  width: 100%;
  border: none;
}

.loading {
  padding-top: 250px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
    text-decoration: underline;
}

button:focus {
    text-decoration: underline;
}

button:active {
    transform: scale(0.99);
}

.button {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  position: absolute;
  left: 60px;
  top: 40px;
  border-radius: 0px !important;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-weight: 100;
  font-family: Inter, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  -webkit-user-drag: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, .02);
  text-decoration: none;
  cursor: pointer;
}

/* iPhones */
@media only screen and (max-width: 767px) {
  main {
    display: block;
  }
  .description {
    padding: 30px;
  }    
  .cs-container {
    width: 100%;
  }
  .cs-img {
    background-position: center;
    width: 100%;
  }
  h3 {
    visibility: visible;
    opacity: 1;
    top: 70%;
    text-align: unset;
    left: 10%;
  }
  
  .iframe-container {
    margin-top: 0px;
  }
}

/* iPads */
@media only screen and (max-width: 1024px) {
  .description {
    max-width: 700px;
  }
  
  .cs-container {
    display: block;  
  }
  
  .cs-img {
    box-sizing: border-box;
    min-width: 100%;
    height: calc((100vh - 10px) / 3);
    margin: 0px 0px 10px !important;
    min-height: unset;
  }  
  h3 {
    visibility: visible;
    opacity: 1;
    top: 70%;
    text-align: unset;
    left: 10%;
  }

}

/* desktop small */
@media only screen and (min-width: 1025px) {
  .cs-pigs:hover {
    width: 1200px;
  }
  
  .cs-dairy:hover {
    width: 1200px;
  }
}

/* desktop large */
@media only screen and (min-width: 1200px) {
  .cs-container {
    width: 800px;
  }
  .cs-pigs:hover {
    width: 1400px;
  }
  .cs-arable {
    width: 600px;
  }
  .cs-dairy:hover {
    width: 1400px;
  }
}

@media only screen and (min-width: 1500px) {
  .cs-container {
    width: 1200px;
  }
  .cs-arable {
    width: 800px;
  }
  .cs-pigs {
    width: 800px;
  }
  .cs-dairy {
    width: 800px;
  }
  .cs-pigs:hover {
    width: 1400px;
  }
  .cs-dairy:hover {
    width: 1400px;
  }
}



@media (hover: none) {
  h3 {
    visibility: visible;
    opacity: 1;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
}